body {
    background-image: url('flight.jpg'); /* Source: iStockPhoto */
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin-top: 400px;
    background-color: #000;
    opacity: 0.9;
    color: #fff;
    padding: 40px;
}

.top-20 {
    margin-top: 20px;
}

.action {
  margin-top: 20px;
  width: 100%;
}

.border-bottom {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.flexbox {
  display: flex;
  flex-flow: column nowrap;
}

.user-menu {
  border: 2px solid #eee;
  margin-top: 10px;
  padding: 5px;
  width: 100%;
}

h5 {
    color: #999999;
}

section {
    margin-bottom: 50px;
}

.field {
    font-weight: bold;
    text-align: right;
}

.field-value {
    color: #0e7fa8;
}

label.form {
    font-size: 14px;
    margin-right: 20px;
    width: 100%;
}
input {
    margin-right: 30px;
    width: 100%;
}

btn {
  width: 100%;
}
