#title {
  color: #f23f52;
  font-weight: bold;
  text-transform: uppercase;
}

#title:hover {
  color: #007bff;
}

body {
    background-image: url('flight.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h3 {
  color: #f23f52;
  font-weight: 900;
}

.container {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.78);
    color: #fff;
    margin-top: 100px;
    opacity: 0.9;
    padding: 20px;
}

.top-20 {
    margin-top: 20px;
}

.action {
  margin-top: 5px;
  width: 100%;
}

.border-bottom {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.last {
  margin-bottom: 15px;
}
.flexbox {
  display: flex;
  flex-flow: column nowrap;
}

.user-menu {
  width: 100%;
}

h5 {
    color: #999999;
}

section {
    margin-bottom: 50px;
}

.field {
    font-weight: bold;
    text-align: right;
}

.field-value {
    color: #0e7fa8;
    overflow: auto;
}

label.form {
    font-size: 14px;
    margin-right: 20px;
    width: 100%;
}
input {
    border: 0.5rem solid white;
    border-radius: 0.25rem;
    width: 100%;
}

btn {
  width: 100%;
}
.btn-primary {
  background-color: #f23f52;
  border-color: #f23f52;
}
